$color-background = #fff
$color-theme = #D43C33
$color-theme-dark = #D33A31

$color-text = #333
$color-text-gray = #888
$color-text-white = #fff

$color-dot-active = #CB0C0C
$color-dot-background = #B0AFAF

$color-player-gray = #AAAAAA
$font-size-player = 22px

$font-size-s = 12px
$font-size-m = 17px
$font-size-l = 21px

$font-bold = 400px

